@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Oooh+Baby&family=Poppins:wght@600&family=Roboto:wght@100&family=Sedgwick+Ave&display=swap');

*{
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(100, 100, 100);
    font-size: large;
    display: grid;
    justify-content: center;
}

.compra{
        background-color: rgb(100, 100, 100);
    font-size: large;
    display: grid;
    justify-content: center;
}

a{
    color: white;
    text-decoration: none;
}

li{
    list-style: none;
    display:inline;
    padding: 10px;
}

.antes{
    background-color: black;
    justify-content: center;
    display: grid;
    
}


.letra{
    color: white;
}

.galeria-grid{
    grid-area: galeria;
    background-color: rgba(75,185,189,0.991);
}

.padre{
    background-color: goldenrod;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    gap:15px;
    justify-items:center;
    margin:0;
    height: auto;
    padding: 1.5em;
}

.imagen{
    width: 300px;
    height: 250px;
    border: 8px solid #3a3548;
    margin-top: 15px;
    width: 200px;
    height: 150px;

    margin-top: 20px;
}

img{
    width: 300px;
    height: 250px;
    border: 8px solid #3a3548;
}

footer{
    background-color: rgb(71, 71, 71);
    justify-content: center;
    display: grid;
    grid-area: footer;
}