
header{
    background-color: #3d3d3d;
    font-size: large;
    display: grid;
    justify-content: center;
    padding: 10px;
    nav{
        width: 80%;
        margin: 0 auto;
        ul{
            display: flex;
            justify-content: space-around;
        }
        li{
            list-style-type: none;
            display:inline;
            padding: 10px;
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}